<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Expenditre</title>

    <script>

window.onload = function () {

var options = {
	animationEnabled: true,
	title: {
		text: "GDP Growth Rate - 2016"
	},
	axisY: {
		title: "cash ",
		suffix: "%",
		includeZero: false
	},
	axisX: {
		title: "Categories"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#"%"",
		dataPoints: [
		for(var item in category){
		
			{ label: [itme], y:[cash]  },	
			}
			
		]
	}]
};


$("#showChart").click(function() {
	
	$("#dialogBox").dialog({
		open: function(event,ui) {
			$(".ui-widget-overlay").bind("click", function(event,ui) {         
				$("#dialogBox").dialog("close");
			});
		},
		closeOnEscape: true,
		draggable: false,
		resizable: false,
		title: "Expence by Category",
		width: 700,
		modal: true,
		show: 500
	});
	$(".ui-widget-overlay").css({"background-color": "#111111"});
	$("#chartContainer").CanvasJSChart(options);
});

}
</script>
<style>
	#showChart{
		background-color: #5bb85b;
		color: #ffffff;
		padding: 10px;
		border: 0px;
		border-radius: 8px;
		font-size: 18px;
		outline: none;
		cursor: pointer;
    } 
  	#container{
		position: fixed;
		top: 50%;
		width:100%;
		text-align: center;
		margin-top: -41px;
  	}
</style>
  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Expenditure</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
            <a class="nav-link" href="/expence">Add Expence <span class="sr-only">(current)</span></a>
          </li>
         <li class="nav-item active">
            <a class="nav-link" href="/addcat">Add Category<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Daily View</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="#">Monthly View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Yearly View</a>
          </li> 
        </ul>
        
          
		  
          <a class="btn btn-outline-success my-2 my-sm-0" href="/login" role="button">Logout</a>
		 
        
      </div>
    </nav>
	
<br><br><br>

<div class="container">


<div id="container">
	<button id="showChart">Click to Show Chart in a Pop-up</button>
</div>
<div id="dialogBox" style="display: none;">
	<div id="chartContainer" class="dialog" style="height: 250px; width: 100%;"></div>
</div>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</div>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    

</body>

</html>





